#header{background-color: #4169e1;
color: #ffff;
text-align: center;}
#fuudo{background-color: #4169e1;
color: #ffff;
text-align: center;}
#kankou{background-color: #4169e1;
color: #ffff;
text-align: center;}
#Aqours{background-color: #ff991b;
color: #ffff;
text-align: center;}
body{background-color: #ccffff;}
#gaiyou{background-color: #b5eeee;}
#byuuo{
    h2{background-color: #b6c8fd;}
}
#sipara{
    h2{background-color: #b6c8fd;}
}
#insyoku{
    h2{background-color: #b6c8fd;}
}
#noppo{
    h2{background-color: #5caafe;}
}
#ajisusi{
    h2{background-color: #5caafe;}
}
#kesetto{
    h2{background-color: #5caafe;}
}
#CYaRon{
    h2{background-color: #24c2f7;
    color: #7e00c3;
text-align: center;}
}
#GuiltyKiss{
    h2{background-color: #ff94fa; color: #019964;}
    h3{background-color: #f6fc88; color: #ff5757;}
   
}
#AZALEA{
    h2{background-color: #b5e4ff; color: #ff1dc3;}
    
}
